<!DOCTYPE html>
<html>
    <head>
        <title>Seja um Desbravdor</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header>
            <a href="/pioneer"><p class="logo">Seja um Desbravador</p></a>
        </header>

        {% block content %}
        {% endblock content %}
        
    </body>
</html>